@tailwind base;
@tailwind components;
@tailwind utilities;

.swiper-button-prev:after,
.swiper-rtl .swiper-button-next:after {
  display: none;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  display: none;
}

.swiper-pagination-bullet-active {
  background: #9b9b9b !important;

  opacity: 1;
}

.swiper-pagination-bullet {
  width: 20px !important;
  height: 8px !important;
  border-radius: 10px 10px 10px !important;
}

.swiper-pagination-bullet-active {
  background: #396cf0 !important;
  opacity: 1;
  width: 28px !important;
}


